@import url("https://fonts.googleapis.com/css2?family=Anton&family=Lobster&family=Mochiy+Pop+P+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=DM+Sans:wght@700&family=Lobster&family=Mochiy+Pop+P+One&display=swap");
body {
  width: 100vw;
  height: 100vh;
  margin: 0; }

/* scroll bar */
::-webkit-scrollbar {
  width: 15px; }

::-webkit-scrollbar-track {
  background: #19282f; }

::-webkit-scrollbar-thumb {
  background: #b33030;
  z-index: 200;
  position: relative;
  border-radius: 10px; }

::-webkit-scrollbar-thumb:hover {
  background: #a1b57d; }

::-webkit-scrollbar-corner {
  background-color: #d3eca7; }

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  footer .icon {
    font-size: 50px; }
    footer .icon a {
      text-decoration: none; }
      footer .icon a i {
        margin: 30px;
        color: #a1b57d; }
    footer .icon a:hover i {
      color: #d3eca7;
      text-shadow: 0 0 1.5px var(--color5); }
  footer .info {
    font-size: 25px;
    margin-bottom: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none; }
    footer .info div {
      width: 40%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer; }
      footer .info div i {
        margin-right: 10px;
        font-size: 41px;
        color: #a1b57d; }
      footer .info div span {
        vertical-align: middle; }
    footer .info div:hover i {
      color: #d3eca7;
      text-shadow: 0 0 1.5px var(--color5); }
    footer .info div.copied i {
      font-size: 45px;
      color: #b33030; }

.container {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth; }
  .container .section {
    position: relative; }
  .container .section.no-scroll {
    overflow: hidden; }
  .container .section.hidden {
    display: none; }
  .container .center {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; }

/* vertical scrolling */
.container-scroll-vertically {
  scroll-snap-type: y proximity;
  overflow-y: scroll;
  display: flex;
  flex-direction: column; }
  .container-scroll-vertically .section {
    scroll-snap-align: start;
    flex: none; }

.container-scroll-vertically.change-direction {
  flex-direction: column-reverse; }

/* horizontal scrolling */
.container-scroll-horizontally {
  scroll-snap-type: x proximity;
  overflow-x: scroll;
  display: flex;
  /* scroll-margin-left: 100px; */ }
  .container-scroll-horizontally .section {
    flex: none;
    scroll-snap-align: start; }

.container-scroll-horizontally.change-direction {
  flex-direction: row-reverse; }

.container .center h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px; }

.container .section:nth-last-of-type(1) {
  background-color: #19282f;
  color: #a1b57d; }

.container .section:nth-last-of-type(2) {
  background-color: #b33030;
  color: #19282f; }

.container .section:nth-last-of-type(3) {
  background-color: #a1b57d;
  color: #b33030; }

.container .section:nth-last-of-type(4) {
  background-color: #a1b57d;
  color: #b33030; }

.container .section:nth-last-of-type(5) {
  background-color: #b33030;
  color: #19282f; }

.container .section:nth-last-of-type(6) {
  background-color: #19282f;
  color: #a1b57d; }

.container .about {
  width: 100vw;
  height: fit-content;
  overflow-x: hidden;
  cursor: url("../img/cursor.png"); }
  .container .about p::selection,
  .container .about h1::selection,
  .container .about h2::selection,
  .container .about span::selection {
    background-color: #b33030;
    color: #19282f; }
  .container .about .header {
    display: flex;
    margin: 100px 13% 0;
    justify-content: space-between; }
    .container .about .header h1 {
      text-align: start; }
      .container .about .header h1 span {
        display: block;
        position: relative; }
      .container .about .header h1 span:not(:first-child)::after {
        content: '';
        left: 0;
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: #19282f;
        animation: typing 1s steps(22) forwards;
        -webkit-animation: typing 1s steps(22) forwards; }
      .container .about .header h1 span:nth-child(2)::after {
        animation-delay: 1.5s; }
      .container .about .header h1 span:nth-child(3)::after {
        animation-delay: 3s; }
      .container .about .header h1 span:nth-child(4)::after {
        animation-delay: 4.5s; }
      .container .about .header h1 span:nth-child(1) {
        font-family: 'Lobster', cursive;
        font-size: 75px; }
      .container .about .header h1 span:not(:nth-child(1)) {
        font-family: 'DM Sans', sans-serif; }
    .container .about .header .image-container {
      position: relative; }
      .container .about .header .image-container img {
        border-radius: 50%;
        width: 300px;
        z-index: 3;
        position: relative;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%; }
      .container .about .header .image-container:before {
        z-index: 1;
        top: 2px;
        left: -60px;
        content: '';
        position: absolute;
        width: 360px;
        height: 360px;
        background-color: #d3eca7;
        border-radius: 50% 50% 100% 0% / 100% 50% 50% 0%;
        -webkit-border-radius: 50% 50% 100% 0% / 100% 50% 50% 0%;
        -moz-border-radius: 50% 50% 100% 0% / 100% 50% 50% 0%;
        -ms-border-radius: 50% 50% 100% 0% / 100% 50% 50% 0%;
        -o-border-radius: 50% 50% 100% 0% / 100% 50% 50% 0%; }
      .container .about .header .image-container:after {
        z-index: 2;
        top: 2px;
        right: -60px;
        content: '';
        position: absolute;
        width: 360px;
        height: 360px;
        background-color: #b33030;
        border-radius: 50% 50% 0% 100% / 50% 100% 0% 50%;
        -webkit-border-radius: 50% 50% 0% 100% / 50% 100% 0% 50%;
        -moz-border-radius: 50% 50% 0% 100% / 50% 100% 0% 50%;
        -ms-border-radius: 50% 50% 0% 100% / 50% 100% 0% 50%;
        -o-border-radius: 50% 50% 0% 100% / 50% 100% 0% 50%; }
      .container .about .header .image-container:after {
        transition-duration: 0.4s;
        animation-name: backRight;
        animation-duration: 0.4s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: both; }
      .container .about .header .image-container:before {
        transition-duration: 0.4s;
        animation-name: backLeft;
        animation-duration: 0.4s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: both; }
    .container .about .header .image-container.active:after {
      transition-duration: 0.4s;
      animation-name: rotateRight;
      animation-duration: 0.4s;
      animation-timing-function: ease-in-out;
      animation-fill-mode: both; }
    .container .about .header .image-container.active:before {
      transition-duration: 0.4s;
      animation-name: rotateLeft;
      animation-duration: 0.4s;
      animation-timing-function: ease-in-out;
      animation-fill-mode: both; }
  .container .about .tool {
    margin: 100px 13% 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly; }
    .container .about .tool i {
      opacity: 0;
      font-size: 70px;
      color: #b33030;
      margin-left: 20px;
      animation-name: fade-up;
      animation-duration: 0.8s;
      animation-fill-mode: forwards;
      animation-timing-function: ease-in-out; }
      .container .about .tool i:hover {
        color: #d3eca7; }
    .container .about .tool i:nth-child(1) {
      animation-delay: 5000ms; }
    .container .about .tool i:nth-child(2) {
      animation-delay: 5200ms; }
    .container .about .tool i:nth-child(3) {
      animation-delay: 5400ms; }
    .container .about .tool i:nth-child(4) {
      animation-delay: 5600ms; }
    .container .about .tool i:nth-child(5) {
      animation-delay: 5800ms; }
  .container .about .split {
    background: repeating-linear-gradient(transparent -1%, transparent 15%, currentColor 14%, currentColor 29%) 100%/100% 100% no-repeat;
    width: 100vw;
    height: 50px;
    margin: 50px 0 0;
    padding: 0; }
  .container .about .text-container .header h2 {
    font-family: 'Lobster', cursive;
    margin: auto;
    font-size: 50px;
    position: relative;
    z-index: 3; }
    .container .about .text-container .header h2 span:first-child::before {
      white-space: nowrap;
      overflow: hidden;
      width: 64%;
      height: 100%;
      color: #b33030;
      position: absolute;
      z-index: 2;
      border-radius: 50% 50% 25% 75% / 50% 75% 25% 50%;
      -webkit-border-radius: 50% 50% 25% 75% / 50% 75% 25% 50%;
      -moz-border-radius: 50% 50% 25% 75% / 50% 75% 25% 50%;
      -ms-border-radius: 50% 50% 25% 75% / 50% 75% 25% 50%;
      -o-border-radius: 50% 50% 25% 75% / 50% 75% 25% 50%;
      transition: all 3s;
      -webkit-transition: all 3s;
      -moz-transition: all 3s;
      -ms-transition: all 3s;
      -o-transition: all 3s; }
    .container .about .text-container .header h2 span:last-child::after {
      text-align: end;
      right: 0;
      white-space: nowrap;
      overflow: hidden;
      width: 100%;
      height: 57%;
      color: #19282f;
      position: absolute;
      z-index: 1;
      border-radius: 50% 50% 75% 25% / 75% 50% 50% 25%;
      -webkit-border-radius: 50% 50% 75% 25% / 75% 50% 50% 25%;
      -moz-border-radius: 50% 50% 75% 25% / 75% 50% 50% 25%;
      -ms-border-radius: 50% 50% 75% 25% / 75% 50% 50% 25%;
      -o-border-radius: 50% 50% 75% 25% / 75% 50% 50% 25%;
      transition: all 3s;
      -webkit-transition: all 3s;
      -moz-transition: all 3s;
      -ms-transition: all 3s;
      -o-transition: all 3s; }
    .container .about .text-container .header h2 span:first-child:hover::before {
      width: 100%;
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0; }
    .container .about .text-container .header h2 span:last-child:hover::after {
      height: 100%;
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0; }
  .container .about .text-container .description {
    width: 80%;
    display: block;
    margin: auto;
    background-color: #19282f;
    transition: all 4s;
    -webkit-transition: all 4s;
    -moz-transition: all 4s;
    -ms-transition: all 4s;
    -o-transition: all 4s;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px; }
    .container .about .text-container .description p {
      margin: 50px;
      font-size: 30px;
      color: #19282f;
      font-family: 'DM Sans', sans-serif; }
  .container .about .text-container .description.active {
    background-color: #d3eca7;
    opacity: 0.5;
    box-shadow: 0 0 20px 18px #d3eca7; }
  .container .about .how-am-i .header h2 span:first-child::before,
  .container .about .how-am-i .header h2 span:last-child::after {
    content: 'WHO AM I ?'; }
  .container .about .my-job .header h2 span:first-child::before,
  .container .about .my-job .header h2 span:last-child::after {
    content: 'WHAT I AM DOING ?'; }
.container nav {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: calc(100% - 15px);
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  background-color: #19282f73; }
  .container nav .dice {
    display: none; }
    .container nav .dice:before {
      content: '';
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      animation: changeNumber 6s infinite;
      -webkit-animation: changeNumber 6s infinite;
      color: #d3eca7;
      font-size: 50px;
      text-shadow: -6px 6px 12px #19282f73; }
  .container nav ul {
    width: 100vw;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 30px; }
    .container nav ul li {
      display: inline-block;
      color: #fff;
      cursor: pointer;
      user-select: none; }
      .container nav ul li:hover {
        color: #d3eca7;
        text-shadow: 0 0 3px #fff; }
    .container nav ul li.color {
      pointer-events: none;
      animation: color 1.5s forwards ease-in-out;
      -webkit-animation: color 1.5s forwards ease-in-out; }
    .container nav ul li:nth-child(1).color {
      animation-delay: 0.5s; }
    .container nav ul li:nth-child(2).color {
      animation-delay: 0.25s; }
    .container nav ul li:nth-child(3).color {
      animation-delay: 0s; }
    .container nav ul li:nth-child(4).color {
      animation-delay: 0.25s; }
    .container nav ul li:nth-child(5).color {
      animation-delay: 0.5s; }
@keyframes color {
  0% {
    color: var(--color5);
    text-shadow: 0 0 1px var(--color5); }
  25% {
    color: #d3eca7;
    text-shadow: 0 0 2px var(--color5); }
  50% {
    color: #a1b57d;
    text-shadow: 0 0 3px var(--color5); }
  75% {
    color: #d3eca7;
    text-shadow: 0 0 2px var(--color5); }
  100% {
    color: var(--color5);
    text-shadow: 0 0 1px var(--color5); } }
@keyframes typing {
  100% {
    left: 100%; } }
@keyframes backRight {
  0% {
    background-color: #c38e6c;
    top: -23px;
    right: -23px;
    width: 345px;
    height: 345px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%; }
  100% {
    top: 2px;
    right: -60px;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    border-radius: 50% 50% 0% 100% / 50% 100% 0% 50%;
    -webkit-border-radius: 50% 50% 0% 100% / 50% 100% 0% 50%;
    -moz-border-radius: 50% 50% 0% 100% / 50% 100% 0% 50%;
    -ms-border-radius: 50% 50% 0% 100% / 50% 100% 0% 50%;
    -o-border-radius: 50% 50% 0% 100% / 50% 100% 0% 50%; } }
@keyframes backLeft {
  0% {
    width: 200px;
    height: 200px;
    transform: rotate(-45deg) translate(50px, 50px);
    -webkit-transform: rotate(-45deg) translate(50px, 50px);
    -moz-transform: rotate(-45deg) translate(50px, 50px);
    -ms-transform: rotate(-45deg) translate(50px, 50px);
    -o-transform: rotate(-45deg) translate(50px, 50px);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%; }
  100% {
    width: 360px;
    height: 360px;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    border-radius: 50% 50% 100% 0% / 100% 50% 50% 0%;
    -webkit-border-radius: 50% 50% 100% 0% / 100% 50% 50% 0%;
    -moz-border-radius: 50% 50% 100% 0% / 100% 50% 50% 0%;
    -ms-border-radius: 50% 50% 100% 0% / 100% 50% 50% 0%;
    -o-border-radius: 50% 50% 100% 0% / 100% 50% 50% 0%; } }
@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(50px);
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    -ms-transform: translateY(50px);
    -o-transform: translateY(50px); }
  100% {
    opacity: 100%;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px); } }
@keyframes rotateRight {
  0% {
    top: 2px;
    right: -60px;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    border-radius: 50% 50% 0% 100% / 50% 100% 0% 50%;
    -webkit-border-radius: 50% 50% 0% 100% / 50% 100% 0% 50%;
    -moz-border-radius: 50% 50% 0% 100% / 50% 100% 0% 50%;
    -ms-border-radius: 50% 50% 0% 100% / 50% 100% 0% 50%;
    -o-border-radius: 50% 50% 0% 100% / 50% 100% 0% 50%; }
  100% {
    background-color: #c38e6c;
    top: -23px;
    right: -23px;
    width: 345px;
    height: 345px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%; } }
@keyframes rotateLeft {
  0% {
    width: 360px;
    height: 360px;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    border-radius: 50% 50% 100% 0% / 100% 50% 50% 0%;
    -webkit-border-radius: 50% 50% 100% 0% / 100% 50% 50% 0%;
    -moz-border-radius: 50% 50% 100% 0% / 100% 50% 50% 0%;
    -ms-border-radius: 50% 50% 100% 0% / 100% 50% 50% 0%;
    -o-border-radius: 50% 50% 100% 0% / 100% 50% 50% 0%; }
  100% {
    width: 200px;
    height: 200px;
    transform: rotate(-45deg) translate(50px, 50px);
    -webkit-transform: rotate(-45deg) translate(50px, 50px);
    -moz-transform: rotate(-45deg) translate(50px, 50px);
    -ms-transform: rotate(-45deg) translate(50px, 50px);
    -o-transform: rotate(-45deg) translate(50px, 50px);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%; } }
@keyframes changeNumber {
  0% {
    content: '\f525'; }
  20% {
    content: '\f528'; }
  40% {
    content: '\f527'; }
  60% {
    content: '\f524'; }
  80% {
    content: '\f523'; }
  100% {
    content: '\f526'; } }
@media (max-width: 769px) {
  .container .about {
    width: 100vw;
    overflow-x: hidden; }
    .container .about .header h1 span:nth-child(1) {
      font-size: 65px; }
    .container .about .header h1 span:not(:nth-child(1)) {
      font-size: 23px; }
    .container .about .header .image-container:before, .container .about .header .image-container:after {
      width: 290px;
      height: 290px; }
    .container .about .header .image-container img {
      width: 233px; }
    .container .about .text-container .description {
      width: 90%; }
      .container .about .text-container .description p {
        font-size: 20px; }
  .container nav .dice {
    display: block; }
  .container nav ul {
    display: none; }
  .container nav ul.active {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 400px;
    top: 100%;
    padding: 0;
    margin: 0;
    background-color: #19282f73;
    animation: showNav 0.8s both ease-in-out;
    -webkit-animation: showNav 0.8s both ease-in-out; }

  footer .info {
    justify-content: space-evenly; }

  @keyframes backLeft {
    0% {
      width: 290px;
      height: 290px; }
    100% {
      width: 290px;
      height: 290px; } } }
@media (max-width: 426px) {
  .container .section h1 {
    font-size: 50px; }
  .container .about .header {
    flex-direction: column-reverse; }
    .container .about .header .image-container::before {
      display: none; }
    .container .about .header .image-container::after {
      width: 233px;
      height: 112px;
      top: 60%;
      left: 0px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      animation: none;
      -webkit-animation: none; }
  .container .about .tool {
    margin: 0px 13% 0; }
    .container .about .tool i {
      font-size: 35px; }
  .container .about .text-container .header h2 {
    font-size: 30px; }
  .container footer .icon {
    font-size: 35px; }
  .container footer .info {
    flex-direction: column; }
    .container footer .info div {
      width: 100%; }
      .container footer .info div i {
        font-size: 35px; }
      .container footer .info div span {
        font-size: 16px; }
  @keyframes showNav {
    0% {
      opacity: 0%;
      height: 0px; }
    100% {
      opacity: 100;
      height: 400px; } } }

/*# sourceMappingURL=style.css.map */
