.container {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;

  .section {
    position: relative;
  }

  .section.no-scroll {
    overflow: hidden;
  }

  .section.hidden {
    display: none;
  }

  .center {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* vertical scrolling */

.container-scroll-vertically {
  scroll-snap-type: y proximity;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;

  .section {
    scroll-snap-align: start;
    flex: none;
  }
}

.container-scroll-vertically.change-direction {
  flex-direction: column-reverse;
}

/* horizontal scrolling */

.container-scroll-horizontally {
  scroll-snap-type: x proximity;
  overflow-x: scroll;
  display: flex;
  /* scroll-margin-left: 100px; */

  .section {
    flex: none;
    scroll-snap-align: start;
  }
}

.container-scroll-horizontally.change-direction {
  flex-direction: row-reverse;
}

.container .center h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
}

.container .about,
.container .contact {
  background-color: var(--color1);
  color: var(--color3);
}

.container .certificate,
.container .projects {
  background-color: var(--color2);
  color: var(--color1);
}

.container .experience,
.container .skills {
  background-color: var(--color3);
  color: var(--color2);
}
