@import 'main';
@import 'scroll';

.container {
  .about {
    width: 100vw;
    height: fit-content;
    overflow-x: hidden;
    // cursor: url('../img/cursor.png');

    p::selection,
    h1::selection,
    h2::selection,
    span::selection {
      background-color: $color2;
      color: $color1;
    }

    .header {
      display: flex;
      margin: 100px 13% 0;
      justify-content: space-between;

      h1 {
        text-align: start;

        span {
          display: block;
          position: relative;
        }

        span:not(:first-child)::after {
          @include animation(typing 1s steps(22) forwards);
          content: '';
          left: 0;
          position: absolute;
          height: 100%;
          width: 100%;
          background-color: $color1;
        }

        @for $i from 2 through 4 {
          span:nth-child(#{$i})::after {
            animation-delay: calc(1.5s * (#{$i} - 1));
          }
        }

        span:nth-child(1) {
          font-family: 'Lobster', cursive;
          font-size: 75px;
        }

        span:not(:nth-child(1)) {
          font-family: 'DM Sans', sans-serif;
        }
      }

      .image-container {
        position: relative;

        img {
          @include borderRadius(50%);
          width: 250px;
          z-index: 3;
          position: relative;
        }

        &:before,
        &:after {
          transition-duration: 0.4s;
          top: 2px;
          content: '';
          position: absolute;
          width: 360px;
          height: 360px;
        }

        &:before {
          @include borderRadius(50% 50% 100% 0% / 100% 50% 50% 0%);
          @include animation(backLeft 0.4s both ease-in-out);
          z-index: 1;
          left: -60px;
          background-color: $color4;
        }

        &:after {
          @include borderRadius(50% 50% 0% 100% / 50% 100% 0% 50%);
          @include animation(backRight 0.4s both ease-in-out);
          z-index: 2;
          right: -60px;
          background-color: $color2;
        }
      }

      .image-container.active {
        &:after {
          transition-duration: 0.4s;
          @include animation(rotateRight 0.4s both ease-in-out);
        }

        &:before {
          transition-duration: 0.4s;
          @include animation(rotateLeft 0.4s both ease-in-out);
        }
      }
    }

    .tool {
      margin: 100px 13% 0;
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      i {
        opacity: 0;
        font-size: 70px;
        color: $color2;
        margin-left: 20px;
        @include animation(fade-up 0.8s forwards ease-in-out);

        &:hover {
          color: $color4;
        }
      }

      @for $i from 1 through 5 {
        i:nth-child(#{$i}) {
          animation-delay: calc(5000ms + (200ms * #{$i}));
        }
      }
    }

    .split {
      background: repeating-linear-gradient(
          transparent -1%,
          transparent 15%,
          currentColor 14%,
          currentColor 29%
        )
        100% / 100% 100% no-repeat;
      width: 100vw;
      height: 50px;
      margin: 50px 0 0;
      padding: 0;
    }

    .text-container {
      .header {
        h2 {
          font-family: 'Lobster', cursive;
          margin: auto;
          font-size: 50px;
          position: relative;
          z-index: 3;

          span:first-child::before,
          span:last-child::after {
            @include transition(all 3s);
            overflow: hidden;
            position: absolute;
            white-space: nowrap;
          }

          span:first-child::before {
            @include borderRadius(50% 50% 25% 75% / 50% 75% 25% 50%);
            width: 64%;
            height: 100%;
            color: $color2;
            z-index: 2;
          }

          span:last-child::after {
            @include borderRadius(50% 50% 75% 25% / 75% 50% 50% 25%);
            text-align: end;
            right: 0;
            width: 100%;
            height: 57%;
            color: $color1;
            z-index: 1;
          }

          span:first-child:hover::before {
            @include borderRadius(0);
            width: 100%;
          }

          span:last-child:hover::after {
            @include borderRadius(0);
            height: 100%;
          }
        }
      }

      .description {
        @include borderRadius(20px);
        @include transition(all 4s);
        width: 80%;
        display: block;
        margin: auto;
        background-color: $color1;

        p {
          margin: 50px;
          font-size: 30px;
          color: $color1;
          font-family: 'DM Sans', sans-serif;
        }
      }

      .description.active {
        background-color: $color4;
        opacity: 0.5;
        box-shadow: 0 0 20px 18px $color4;
      }
    }

    .how-am-i {
      .header {
        h2 {
          span:first-child::before,
          span:last-child::after {
            content: 'WHO AM I ?';
          }
        }
      }
    }

    .my-job {
      .header {
        h2 {
          span:first-child::before,
          span:last-child::after {
            content: 'WHAT I AM DOING ?';
          }
        }
      }
    }
  }

  .certificate {
    width: fit-content;
    height: 100vh;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    .arrow-box {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80vw;

      .text {
        ul {
          list-style: none;
          margin: 0;
          overflow-y: hidden;
          height: 60px;

          li {
            font-size: 50px;
            position: relative;
            overflow: hidden;
            min-width: 375px;
            color: $color5;

            &:after {
              @include animation(typing-2 1s steps(16) infinite alternate);
              margin-left: 30px;
              content: '\f061';
              font-family: 'Font Awesome 5 Free';
              font-weight: 900;
              left: 0;
              right: -5px;
              position: absolute;
              height: 100%;
              width: 100%;
              background-color: $color2;
            }
          }

          li {
            @include animation(show 4s steps(1) infinite forwards);
          }
        }
      }

      i {
        color: black;
        font-size: 50px;
        font-weight: 900;
        z-index: 1;
      }
    }

    .certificate-container {
      .certificate-box {
        display: flex;

        .content {
          margin: 0 100px;
          width: 400px;
          height: 400px;
          perspective: 1200px;
          position: relative;

          &:hover {
            .controller {
              opacity: 100%;
            }
          }

          .box {
            @include transition(transform 2s);
            position: relative;
            width: 100%;
            height: 400px;
            transform-style: preserve-3d;

            .face {
              width: 100%;
              height: 100%;
              display: flex;
              position: absolute;
              justify-content: center;
              align-items: center;
              color: white;
              backface-visibility: hidden;
              -webkit-backface-visibility: hidden;

              h2 {
                margin-left: 20px;
              }
            }

            .face1 {
              width: 400px;
              background-color: $color1;
              font-size: xx-large;
              padding: 20px;
            }

            .face2 {
              @include transformY(123.5deg, 400px, 0);
              transform-origin: right center;
              width: 400px;
              color: $color5;
              padding: 20px;
              font-size: 21px;
              background-color: $color3;
            }

            .face3 {
              @include transformY(-123.5deg, -400px, 0);
              transform-origin: left center;
              width: 400px;
              color: $color1;
              padding: 20px;
              font-size: 21px;
              background-color: $color4;
            }
          }

          .controller {
            @include transition(0.5s);
            opacity: 0;
            position: absolute;
            top: calc(100% + 50px);
            width: 440px;
            height: 20px;
            background-color: $color1;
            cursor: pointer;
            border: solid 0.3px $color1;

            &:before,
            &:after {
              content: '\f041';
              box-shadow: 14px 18px 20px 12px white;
              font-family: 'Font Awesome 5 Free';
              font-weight: 900;
              font-size: 40px;
              position: absolute;
              top: -50px;
              width: 0;
              height: 0;
              color: #b33030;
            }

            &:after {
              left: 135px;
            }
            &:before {
              right: 165px;
            }

            .bar {
              height: 100%;
              width: 50%;
              background-color: $color3;
              pointer-events: none;
              position: relative;
            }
          }
        }
      }
    }

    footer {
      width: 550px;
      clip-path: polygon(100% 0, 100% 50%, 86% 100%, 0 99%, 32% 0);
      height: 72vh;
      background-color: $color1;

      .icon {
        margin-left: 30px;

        a {
          margin-right: 15px;
        }
      }

      .info {
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
        margin-bottom: 30px;

        div {
          width: 80%;

          span {
            color: $color5;
          }
        }

        .phone {
          margin: 22px 0 0 66px;
        }

        .email {
          margin: 50px 0 0 121px;
        }
      }
    }
  }

  .experience {
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    .layer {
      @include transition(2s);
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
      width: 100vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      left: 0;

      h2 {
        font-size: 50px;
      }

      p {
        font-size: 20px;
        max-width: 80%;
      }
    }

    .layer1 {
      background-color: $color1;

      h2,
      p {
        color: $color2;
      }
    }

    .layer2 {
      background-color: $color2;
      h2,
      p {
        color: $color3;
      }
    }

    .layer3 {
      background-color: $color3;
      h2,
      p {
        color: $color1;
      }
    }

    .remove1 {
      @include animation(layerMove2 2s forwards ease-in-out);
    }

    .add1 {
      @include animation(addLayer1 2s forwards ease-in-out);
    }

    .remove2 {
      @include animation(layerMove1 2s forwards ease-in-out);
    }

    .add2 {
      @include animation(addLayer2 2s forwards ease-in-out);
    }

    .dot-container {
      position: fixed;
      z-index: 10;
      bottom: 50px;
      width: 70%;
      left: 15%;
      display: flex;
      align-items: center;
      justify-content: center;

      .dot {
        @include borderRadius(50%);
        border: 1px solid $color4;
        width: 40px;
        height: 40px;
        background-color: transparent;
        margin-left: 60px;
        cursor: pointer;
        box-shadow: 0 0 20px 3px black;
        margin: auto;
      }

      .active {
        width: 50px;
        height: 50px;
        box-shadow: 0 0 20px 5px black;
      }
    }
  }

  nav {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: calc(100% - 15px);
    right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    background-color: $color6;

    .dice {
      display: none;

      &:before {
        @include animation(changeNumber 6s infinite);
        content: '';
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        color: $color4;
        font-size: 50px;
        text-shadow: -6px 6px 12px $color6;
      }
    }

    ul {
      width: 100vw;
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      font-size: 30px;

      li {
        display: inline-block;
        color: $color5;
        cursor: pointer;
        user-select: none;

        &:hover {
          color: $color4;
          text-shadow: 0 0 3px $color5;
        }
      }

      li.color {
        @include animation(color 1.5s forwards ease-in-out);
        pointer-events: none;
      }

      li:nth-child(1).color,
      li:nth-child(5).color {
        animation-delay: 0.5s;
      }

      li:nth-child(2).color,
      li:nth-child(4).color {
        animation-delay: 0.25s;
      }

      li:nth-child(3).color {
        animation-delay: 0s;
      }
    }
  }

  @keyframes layerMove1 {
    0% {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    50% {
      clip-path: polygon(100% 0, 100% 0, 100% 100%, 0% 100%);
    }

    100% {
      clip-path: polygon(100% 100%, 100% 100%, 100% 100%, 0% 100%);
    }
  }

  @keyframes addLayer1 {
    0% {
      clip-path: polygon(100% 100%, 100% 100%, 100% 100%, 0% 100%);
    }

    50% {
      clip-path: polygon(100% 0, 100% 0, 100% 100%, 0% 100%);
    }

    100% {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
  }

  @keyframes layerMove2 {
    0% {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    50% {
      clip-path: polygon(100% 100%, 0 100%, 0 100%, 0 0);
    }

    100% {
      clip-path: polygon(100% 100%, 0 100%, 0 100%, 0 100%);
    }
  }

  @keyframes addLayer2 {
    0% {
      clip-path: polygon(100% 100%, 0 100%, 0 100%, 0 100%);
    }

    50% {
      clip-path: polygon(100% 100%, 0 100%, 0 100%, 0 0);
    }

    100% {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  }

  @keyframes show {
    0% {
      @include transform(0, 0, 0%);
    }
    50% {
      @include transform(0, 0, -100%);
    }
    100% {
      @include transform(0, 0, -100%);
    }
  }

  @keyframes color {
    0%,
    100% {
      color: var(--color5);
      text-shadow: 0 0 1px var(--color5);
    }
    25%,
    75% {
      color: $color4;
      text-shadow: 0 0 2px var(--color5);
    }
    50% {
      color: $color3;
      text-shadow: 0 0 3px var(--color5);
    }
  }

  @keyframes typing {
    100% {
      left: 100%;
    }
  }

  @keyframes typing-2 {
    100% {
      left: 80%;
    }
  }

  @keyframes backRight {
    0% {
      @include borderRadius(50%);
      @include transform(45deg, 0, 0);
      background-color: #c38e6c;
      top: -23px;
      right: -23px;
      width: 345px;
      height: 345px;
    }
    100% {
      @include borderRadius(50% 50% 0% 100% / 50% 100% 0% 50%);
      @include transform(0, 0, 0);
      top: 2px;
      right: -60px;
    }
  }

  @keyframes backLeft {
    0% {
      @include borderRadius(50%);
      @include transform(-45deg, 50px, 50px);
      width: 200px;
      height: 200px;
    }
    100% {
      @include borderRadius(50% 50% 100% 0% / 100% 50% 50% 0%);
      @include transform(0, 0, 0);
      width: 360px;
      height: 360px;
    }
  }

  @keyframes fade-up {
    0% {
      @include transform(0, 0, 50px);
      opacity: 0;
    }
    100% {
      @include transform(0, 0, 0);
      opacity: 100%;
    }
  }

  @keyframes rotateRight {
    0% {
      @include borderRadius(50% 50% 0% 100% / 50% 100% 0% 50%);
      @include transform(0, 0, 0);
      top: 2px;
      right: -60px;
    }
    100% {
      @include borderRadius(50%);
      @include transform(45deg, 0, 0);
      background-color: #c38e6c;
      top: -23px;
      right: -23px;
      width: 345px;
      height: 345px;
    }
  }

  @keyframes rotateLeft {
    0% {
      @include borderRadius(50% 50% 100% 0% / 100% 50% 50% 0%);
      @include transform(0, 0, 0);
      width: 360px;
      height: 360px;
    }
    100% {
      @include borderRadius(50%);
      @include transform(-45deg, 50px, 50px);
      width: 200px;
      height: 200px;
    }
  }

  @keyframes changeNumber {
    0% {
      content: '\f525';
    }
    20% {
      content: '\f528';
    }
    40% {
      content: '\f527';
    }
    60% {
      content: '\f524';
    }
    80% {
      content: '\f523';
    }
    100% {
      content: '\f526';
    }
  }
}

@media (max-width: 769px) {
  .container {
    .about {
      width: 100vw;
      overflow-x: hidden;

      .header {
        h1 {
          span:nth-child(1) {
            font-size: 65px;
          }

          span:not(:nth-child(1)) {
            font-size: 23px;
          }
        }

        .image-container {
          &:before,
          &:after {
            width: 290px;
            height: 290px;
          }

          img {
            width: 233px;
          }
        }
      }

      .text-container {
        .description {
          width: 90%;

          p {
            font-size: 20px;
          }
        }
      }
    }

    nav {
      .dice {
        display: block;
      }

      ul {
        display: none;
      }

      ul.active {
        @include animation(showNav 0.8s both ease-in-out);
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 400px;
        top: 100%;
        padding: 0;
        margin: 0;
        background-color: $color6;
      }
    }
  }

  footer {
    .info {
      justify-content: space-evenly;
    }
  }

  @keyframes rotateLeft {
    0% {
    }
    100% {
    }
  }

  @keyframes rotateRight {
    0% {
    }
    100% {
    }
  }

  @keyframes backRight {
    0% {
    }
    100% {
    }
  }

  @keyframes backLeft {
    0% {
      width: 290px;
      height: 290px;
    }
    100% {
      width: 290px;
      height: 290px;
    }
  }
}

@media (max-width: 426px) {
  .container {
    .section {
      h1 {
        font-size: 50px;
      }
    }

    .about {
      .header {
        flex-direction: column-reverse;

        .image-container::before {
          display: none;
        }

        .image-container::after {
          @include borderRadius(50%);
          @include animation(none);
          width: 233px;
          height: 112px;
          top: 60%;
          left: 0px;
        }
      }

      .tool {
        margin: 0px 13% 0;

        i {
          font-size: 35px;
        }
      }

      .text-container {
        .header {
          h2 {
            font-size: 30px;
          }
        }
      }
    }

    .certificate {
      .arrow-box {
        width: 100vw;

        .text {
          ul {
            height: 55px;

            li {
              font-size: 54px;
              min-width: 360px;

              &:after {
                margin-left: 75px;
              }
            }
          }
        }

        i {
          color: black;
          font-size: 50px;
          font-weight: 900;
          z-index: 1;
        }
      }

      .certificate-container {
        .certificate-box {
          display: flex;

          .content {
            margin: 0 50px;
            width: 250px;
            height: 400px;
            perspective: 800px;

            .box {
              @include transition(transform 2s);
              width: 100%;
              height: 400px;

              .face {
                width: 100%;
                height: 100%;
              }

              .face1 {
                width: 250px;
              }

              .face2 {
                @include transformY(125.5deg, 250px, 0);
                width: 250px;
              }

              .face3 {
                @include transformY(-125.5deg, -250px, 0);
                width: 250px;
              }
            }

            .controller {
              width: 290px;
              height: 20px;

              &:before,
              &:after {
                font-size: 30px;
                top: -35px;
              }

              &:after {
                left: 90px;
              }
              &:before {
                right: 110px;
              }
            }
          }
        }
      }

      footer {
        width: 400px;
        clip-path: polygon(100% 0, 100% 50%, 86% 100%, 0 99%, 32% 0);
        margin-left: 20px;

        .icon {
          margin-left: 30px;
          font-size: 45px;

          a {
            margin-right: 5px;
          }
        }

        .info {
          margin-bottom: 30px;

          div {
            width: 80%;

            span {
              font-size: 20px;
            }

            i {
              font-size: 40px;
            }
          }

          .phone {
            margin: 0 0 0 40px;
          }

          .email {
            margin: 50px 0 0 85px;
          }
        }
      }
    }

    footer {
      .icon {
        font-size: 35px;
      }

      .info {
        flex-direction: column;

        div {
          width: 100%;

          i {
            font-size: 35px;
          }

          span {
            font-size: 16px;
          }
        }
      }
    }

    @keyframes showNav {
      0% {
        opacity: 0%;
        height: 0px;
      }

      100% {
        opacity: 100;
        height: 400px;
      }
    }
  }
}
